{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Welcome to my corner of the internet!</p>

        <p>My name is Lawrence, and I am a self-taught software developer on a journey of continuous learning.
          By day, I am a dedicated medical student, but by night, I immerse myself in the world of
          coding 😎.
        </p>

        <p>I first delved into the realm of programming out of sheer curiosity and passion for technology. Over time,
          I honed my skills and developed a blog website from scratch using a combination of HTML, CSS, JavaScript, SQL,
          and Python. This project not only allowed me to showcase my creativity but also served as a platform to share my
          insights and experiences in the tech world.
        </p>

        <p>I thrive on the challenge of mastering new concepts and technologies, constantly pushing myself to explore
          innovative solutions and ideas. When I'm not engrossed in writing code, you can often find me lost in the
          melodies of music, another passion of mine that brings me joy and relaxation during my spare time.
        </p>

        <p>Join me on this exciting journey as I continue to expand my knowledge and skills in both the medical field
          and the world of software development. Thank you for visiting! 😉
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
